In [3]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Bengaluru_House_Data.csv')

In [3]:
data.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.shape

(13320, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [8]:
data.drop(columns = ['area_type','availability','society','balcony'], inplace = True)

In [9]:
data.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [10]:
data['location']=data['location'].fillna(data['location'].mode()[0])

In [11]:
data.isnull().sum()

location       0
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [12]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [13]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [14]:
data['size'] = data['size'].fillna('2 BHK')

In [15]:
data['size'].value_counts()

2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [16]:
data['BHK'] = data['size'].apply(lambda x: x.split()[0])

In [17]:
data.head(2)

                   location       size total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4

In [18]:
data.isnull().sum()

location       0
size           0
total_sqft     0
bath          73
price          0
BHK            0
dtype: int64

In [19]:
data['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64

In [20]:
data['bath'] =data['bath'].fillna(data['bath'].median())

In [21]:
data.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
BHK           0
dtype: int64

In [22]:
for i in data.columns:
    print(data[i].value_counts())
    print('*'*40)

Whitefield                        541
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
****************************************
2 BHK         5215
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
****************************************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
****************************************
2.0     6981
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
****************************************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
****************************************
2     5544
3     4857
4     1417
1      656
5      356
6      221
7      100
8       89
9       54
10      14
11       4
27       1
19       1
16       1
43       1
14       1
12       1
13       1
18       1
Name: BHK, dtype: int64
****************************************

In [23]:
data['total_sqft'].value_counts().tail(50)

2631           1
2792           1
2100 - 5405    1
2448           1
1932           1
770 - 841      1
2171           1
42000          1
1793           1
1551           1
3563           1
462            1
3Cents         1
1310 - 1615    1
36000          1
1113.12        1
1782 - 2000    1
621            1
3080           1
2383           1
4830           1
555            1
2182           1
2416           1
3905           1
2107           1
2431           1
2511           1
4640           1
818            1
9000           1
1288           1
1974 - 2171    1
300            1
1778           1
2006.8         1
1922           1
888 - 1290     1
1467           1
1360 - 1890    1
2370           1
5              1
1004           1
5985           1
2466 - 2856    1
3580           1
2461           1
1437           1
2155           1
4689           1
Name: total_sqft, dtype: int64

In [24]:
data['total_sqft'] = data['total_sqft'].apply(lambda x: x.split('-')[0])

In [25]:
data['total_sqft'].value_counts().tail(20)

2107      1
2431      1
4640      1
818       1
9000      1
1974      1
2461      1
300       1
1778      1
2006.8    1
1922      1
888       1
1360      1
2370      1
5         1
1004      1
5985      1
2466      1
3580      1
4689      1
Name: total_sqft, dtype: int64

In [26]:
data.head()

                   location       size total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                  Kothanur      2 BHK       1200   2.0   51.00   2

In [27]:
data['location'].str.strip().value_counts()

Whitefield                        542
Sarjapur  Road                    399
Electronic City                   304
Kanakpura Road                    273
Thanisandra                       237
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1294, dtype: int64

In [28]:
data['location']=data['location'].str.strip()

In [29]:
data['location'].nunique()

1294

## Outlier Removal

In [30]:
data.head()

                   location       size total_sqft  bath   price BHK
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                  Kothanur      2 BHK       1200   2.0   51.00   2

In [31]:
data.describe()

               bath         price
count  13320.000000  13320.000000
mean       2.688814    112.565627
std        1.338754    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [32]:
data['BHK'] = data.BHK.astype(int)

In [33]:
data['total_sqft'] = data['total_sqft'].apply(lambda x: x.split('.')[0])

In [34]:
import re

In [35]:
data['total_sqft']=data['total_sqft'].apply(lambda x: re.sub(r'[^0-9.]', '', x))

In [36]:
data['total_sqft']=data.total_sqft.astype(int)

In [37]:
loc_count = data['location'].value_counts()

In [38]:
loc_count_under_10 = loc_count[loc_count<10]

In [39]:
data['location'] = data['location'].apply(lambda x: 'other' if x in loc_count_under_10 else x)

In [40]:
data.head()

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK        1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom        2600   5.0  120.00    4
2               Uttarahalli      3 BHK        1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK        1521   3.0   95.00    3
4                  Kothanur      2 BHK        1200   2.0   51.00    2

In [41]:
data['BHK']=data['BHK'].astype(int)

In [42]:
data['price'] = (data['price']*100000).astype(int)

In [43]:
data['price'].head(10)

0     3907000
1    12000000
2     6200000
3     9500000
4     5100000
5     3800000
6    20400000
7    60000000
8     6325000
9    37000000
Name: price, dtype: int32

In [44]:
data.describe()

         total_sqft          bath         price           BHK
count  13320.000000  13320.000000  1.332000e+04  13320.000000
mean    1552.947072      2.688814  1.125656e+07      2.802778
std     1236.591541      1.338754  1.489717e+07      1.294496
min        1.000000      1.000000  8.000000e+05      1.000000
25%     1100.000000      2.000000  5.000000e+06      2.000000
50%     1274.000000      2.000000  7.200000e+06      3.000000
75%     1675.000000      3.000000  1.200000e+07      3.000000
max    52272.000000     40.000000  3.600000e+08     43.000000

In [45]:
data['sqft_per_bedroom'] = data['total_sqft']/ data['BHK']

In [46]:
data.head()

,location,size,total_sqft,bath,price,BHK,sqft_per_bedroom
0,Electronic City Phase II,2 BHK,1056,2.0,3907000,2,528.0
1,Chikka Tirupathi,4 Bedroom,2600,5.0,12000000,4,650.0
2,Uttarahalli,3 BHK,1440,2.0,6200000,3,480.0
3,Lingadheeranahalli,3 BHK,1521,3.0,9500000,3,507.0
4,Kothanur,2 BHK,1200,2.0,5100000,2,600.0

In [47]:
data.shape

(13320, 7)

In [48]:
data = data[data['sqft_per_bedroom']>=300]

In [49]:
data['sqft_per_bedroom'].describe()

count    12536.000000
mean       596.612092
std        386.927759
min        300.000000
25%        491.666667
50%        562.500000
75%        630.000000
max      26136.000000
Name: sqft_per_bedroom, dtype: float64

In [50]:
data['price_per_sqft'] = data['price']/data['total_sqft']

In [51]:
def remove_out_sqft(df):
    new_data = pd.DataFrame()
    for loc, loc_df in df.groupby('location'):
        loc_mean = np.mean(loc_df['price_per_sqft'])
        loc_std = np.std(loc_df['price_per_sqft'])
        filtered_sqft = loc_df[((loc_df['price_per_sqft'])>=(loc_mean - loc_std)) & ((loc_df['price_per_sqft'])<=(loc_mean + loc_std))]
        new_data = pd.concat([new_data,filtered_sqft], ignore_index=True)
    return new_data

In [52]:
def remove_out_sqft_bhk(df):
    new_data = pd.DataFrame()
    for loc, loc_df in df.groupby('location'):
        loc_mean = np.mean(loc_df['sqft_per_bedroom'])
        loc_std = (np.std(loc_df['sqft_per_bedroom']))*3
        filtered_sqft = loc_df[((loc_df['sqft_per_bedroom'])>=(loc_mean - loc_std)) & ((loc_df['sqft_per_bedroom'])<=(loc_mean + loc_std))]
        new_data = pd.concat([new_data,filtered_sqft], ignore_index=True)
    return new_data

In [53]:
data = remove_out_sqft(data)

In [54]:
data = remove_out_sqft_bhk(data)

In [55]:
data.describe()

,total_sqft,bath,price,BHK,sqft_per_bedroom,price_per_sqft
count,10184.000000,10184.000000,1.018400e+04,10184.000000,10184.000000,10184.000000
mean,1477.595346,2.466025,8.960228e+06,2.571386,573.899085,5673.491150
std,793.655905,0.977315,8.154030e+06,0.896275,170.038951,2290.154286
min,300.000000,1.000000,1.000000e+06,1.000000,300.000000,1250.000000
25%,1105.000000,2.000000,4.900000e+06,2.000000,494.000000,4250.000000
50%,1280.000000,2.000000,6.700000e+06,2.000000,560.000000,5182.271217
75%,1640.000000,3.000000,1.000000e+07,3.000000,623.000000,6436.517209
max,30400.000000,16.000000,2.100000e+08,16.000000,7500.000000,24509.803922

In [56]:
data.head(2)

,location,size,total_sqft,bath,price,BHK,sqft_per_bedroom,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850,4.0,42800000,4,712.500000,15017.543860
1,1st Block Jayanagar,3 BHK,1630,3.0,19400000,3,543.333333,11901.840491

In [57]:
def remove_price_out(df):
    price_out_ar = np.array([])
    for loc, loc_df in df.groupby('location'):
        loc_dict = {}
        for bhk, bhk_df in loc_df.groupby('BHK'):
            loc_dict[bhk] = {
                'mean': np.mean(bhk_df['price_per_sqft']),
                'count' : bhk_df.shape[0]
            }
        for bhk, bhk_df in loc_df.groupby('BHK'):
            stats = loc_dict.get(bhk-1)
            if stats and stats['count']>5:
                price_out = bhk_df[(bhk_df['price_per_sqft']<stats['mean'])].index.values
                price_out_ar = np.append(price_out_ar, price_out)
    return df.drop(price_out_ar, axis = 'index')

In [58]:
data = remove_price_out(data)

In [59]:
data.head()

,location,size,total_sqft,bath,price,BHK,sqft_per_bedroom,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850,4.0,42800000,4,712.500000,15017.543860
1,1st Block Jayanagar,3 BHK,1630,3.0,19400000,3,543.333333,11901.840491
2,1st Block Jayanagar,3 BHK,1875,2.0,23500000,3,625.000000,12533.333333
3,1st Block Jayanagar,3 BHK,1200,2.0,13000000,3,400.000000,10833.333333
4,1st Block Jayanagar,2 BHK,1235,2.0,14800000,2,617.500000,11983.805668

In [60]:
data.drop(columns = ['size', 'sqft_per_bedroom', 'price_per_sqft'], inplace = True)

In [61]:
data.to_csv('Bangalore_Lasso_Data.csv')

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import r2_score
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [63]:
X = data.drop(columns = ['price'])
y = data['price']

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=172)

In [65]:
print(X_train.shape)
print(X_test.shape)

(5833, 4)
(1459, 4)

In [66]:
column_trans = make_column_transformer((OneHotEncoder(sparse = False), ['location']), remainder = 'passthrough')

In [67]:
scaler = StandardScaler()

In [68]:
lr = LinearRegression()

In [69]:
pipe = make_pipeline(column_trans, scaler, lr)

In [70]:
pipe.fit(X_train, y_train)

C:\Users\ashu0\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [71]:
y_pred_lr = pipe.predict(X_test)

In [72]:
r2_score(y_test, y_pred_lr)

0.8876560080244605

In [73]:
import pickle

In [74]:
pickle.dump(pipe,open('LR_Bangalore_Model.pkl','wb'))

In [72]:
data.head()

              location  total_sqft  bath     price  BHK
0  1st Block Jayanagar        2850   4.0  42800000    4
1  1st Block Jayanagar        1630   3.0  19400000    3
2  1st Block Jayanagar        1875   2.0  23500000    3
3  1st Block Jayanagar        1200   2.0  13000000    3
4  1st Block Jayanagar        1235   2.0  14800000    2

In [73]:
ridge = Ridge()

In [74]:
pipe = make_pipeline(column_trans, scaler, ridge)

In [75]:
pipe.fit(X_train, y_train)

C:\Users\ashu0\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [76]:
y_ridge_predict= pipe.predict(X_test)

In [77]:
r2_score(y_test, y_ridge_predict)

0.8876142094629587

In [78]:
lasso = Lasso()

In [79]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [80]:
pipe.fit(X_train, y_train)

C:\Users\ashu0\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\ashu0\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.135e+16, tolerance: 4.635e+13
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [81]:
y_pred_lasso = pipe.predict(X_test)

In [82]:
r2_score(y_test, y_pred_lasso)

0.8876130653057006

In [84]:
#pickle.dump(pipe,open('LassoModel.pkl', 'wb'))

In [85]:
with open('LassoModel2.pkl', 'wb') as f:
    pickle.dump(pipe, f)